table td, table th, .commander-list-name {
    background-color: #152326;

    border: solid goldenrod 2px;
}
.factions-selector-card {
    margin-left:auto;
    margin-right:auto;
}

.table-selector-card div {
    width: 150px;
    height: 100px;
}

ul {
    list-style: none;
}
